.headerTag{
    color:blue;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.center-class {
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
}


.top-bar {
    display: flex;
    justify-content: left;
    /*align-items: center;*/
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.description-container{
    text-align: left;
}

.link-container{
    text-align: left;
}

.heart-tag{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    text-align: center;
    width: 100%;
    color: grey;
}

.black-border{
    border: 1px solid black;
    width: 100%;
    /*text-align: center;*/
}

.space-between-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    width: 100%;
}

.user-container {
    display: flex;
    gap: 3px;
    /*align-items: center;*/
}

.smaller-image {
    height: 30px;
    width: 40px;
}

.tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.username {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.handle {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.twitter-logo {
    width: 24px;
    height: 24px;
}

.description-container,
.link-container {
    width: 100%;
    text-align: left;
    align-self: flex-start;
    margin-top: 10px;
}

.commentUrl-container{
    justify-content: right;
    width: 100%;
    border-top: 2px solid black; /* thickness + color */
    padding: 5px;
}

.commentUlr-format {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
